body {
  font-family: "Patrick Hand", cursive;
  font-weight: 400;
  font-style: italic;
  background-image: url("../images/cover.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container-header-create {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 4rem;
  background-color: #bb72dd;
  border-bottom: solid 1px rgba(167, 18, 147, 0.315);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.head-title {
  color: white;
}

.link-back {
  color: white;
  margin-left: 1rem;
}

.main-create {
  margin: 4rem auto;
  background-color: rgb(212, 211, 208);
  width: 100%;
  text-align: center;

  @media all and (min-width: 768px) {
    max-width: 47rem;
  }
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding: 0px;
}

.head-create {
  display: flex;
  flex-direction: column;

  @media all and (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem 1rem;
  }
}

.img-cook {
  width: 100%;
  text-align: center;
  background-color: #c4c4c475;
  position: relative;
  border-radius: 3px;
  margin-top: 1.3rem;

  @media all and (min-width: 450px) and (max-width: 750px) {
    width: 65%;
    margin: 1.3rem auto;
  }

  @media all and (min-width: 768px) {
    width: 70%;
    margin-top: 2rem;
  }
}

.input-file {
  display: block;
}

.diners-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #774b05f6;
  font-size: 1rem;

  @media all and (min-width: 768px) {
    flex-direction: row;
    justify-content: left;
  }
}

.img-pr {
  width: 90%;
  height: 12rem;
  border-radius: 1%;
  box-shadow: 4px 4px 6px 4px rgba(0, 0, 0, 0.349);
}

.button-file {
  border-style: none;
  position: absolute;
  bottom: 0;
  right: 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 2.3rem;
  height: 2rem;
  margin-right: 0.4rem;
  margin-bottom: 0.4rem;
}

.pading-text {
  padding-top: 4rem;
}

.icon-file {
  width: 100%;
  height: 100%;
}

.file-preview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0.1 auto;
}

.box-preview-file {
  border-radius: 1%;
}

.info {
  font-size: 0.8rem;
  width: 10rem;
  height: 100%;
  padding-top: 0.2rem;
  text-align: left;

  @media all and (min-width: 768px) {
    width: 15rem;
  }
}

.image-text {
  padding-left: 1rem;
  margin-right: 1rem;
  color: grey;
}

/*box-title style*/
.box-create {
  display: flex;
  flex-direction: column;

  @media all and (min-width: 768px) {
    margin-right: 2rem;
  }
}

.input-width-title {
  width: 100%;
  border-radius: 0.25rem;
  font-family: "Patrick Hand", cursive;
  font-weight: 200;
  border: none;
  margin-top: 0.4rem;
  font-size: 1rem;
  padding: 1rem;

  @media all and (min-width: 450px) and (max-width: 750px) {
    width: 60%;
    margin: 0 auto;
  }

  @media all and (min-width: 768px) {
    padding: 0.3rem 2rem;
    width: 20rem;
  }
}

.input-ing-prep {
  padding: 0px;
  margin: 0px;
}

.input-width {
  width: 100%;
  height: 1.5rem;
  border-radius: 0.25rem;
  border: none;
  font-family: "Patrick Hand", cursive;
  padding: 1rem;

  @media all and (min-width: 450px) and (max-width: 750px) {
    width: 100%;
  }

  @media all and (min-width: 1220px) {
    padding: 0.3rem 2rem;
    width: 36.8rem;
  }
}

.textarea {
  width: 100%;
  border-radius: 0.25rem;
  resize: none;
  border: none;
  font-family: "Patrick Hand", cursive;
  padding: 0 1rem;
  background: none;
  line-height: 1.5rem;
  height: 5rem;

  @media all and (min-width: 450px) and (max-width: 750px) {
    width: 100%;
  }

  @media all and (min-width: 1220px) {
    padding: 0.5rem 2rem;
    width: 36.8rem;
    height: 8rem;
  }
}

.input-focus {
  background-color: #d6d6d4;
  border: none;
}

.input-focus:focus {
  outline: none;
  background-color: #d6d6d4;
}

.iput-w {
  width: 60%;
  height: 1.5rem;
  padding: 0.3rem 1rem;
  border-radius: 0.25rem;
  margin-top: 0.5rem;
  font-family: "Patrick Hand", cursive;

  @media all and (min-width: 450px) and (max-width: 750px) {
    width: 40%;
    margin-top: 0;
  }

  @media all and (min-width: 768px) {
    width: 9rem;
    text-align: left;
  }
}

.diner {
  color: #c47d0bf6;
}

.m-r {
  margin-right: 1rem;
  width: 55%;
  color: #c47d0bf6;

  @media all and (min-width: 768px) {
    text-align: left;
  }
}

.input-ra-M {
  @media all and (min-width: 768px) {
    width: 100%;
  }
}

.input-t-M {
  @media all and (min-width: 768px) {
    margin-left: 3.8rem;
    width: 90%;
  }
}

.lab-M {
  margin-bottom: 0.3rem;
}

/*-prepration styles*/
.input-prep {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;

  @media all and (min-width: 450px) and (max-width: 750px) {
    align-items: self-start;
  }

  @media all and (min-width: 768px) {
    align-items: self-start;
  }
}

.box-prep-inp {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.img-preparation {
  width: 15rem;
  height: 100%;
  background-color: #d6d6d4;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 2.3rem;
  border-radius: 0.5rem;

  @media all and (min-width: 768px) {
    margin-left: 1.3rem;
    width: 35%;
  }
}

.img-prepa {
  width: 100%;
  height: 100%;
  padding: 0;
}

.file-ingred {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.img-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 1rem 0 0 0;
  font-family: "Patrick Hand", cursive;
}

.buton-img-file {
  width: 2.5rem;
  height: 2.5rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10rem;
  margin-bottom: 0.3rem;
}

.buttons {
  padding: 0.3rem;
  background-color: rgba(29, 153, 46, 0.726);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Patrick Hand", cursive;

  @media all and (min-width: 768px) {
    padding: 0.6rem;
  }
}

.buttons:hover {
  background-color: #0aac04;
}

.buttons-delet {
  margin-left: 0.2rem;
  background-color: rgb(196, 195, 195);

  @media all and (min-width: 768px) {
    margin-left: 0.3rem;
  }
}

.buttons-delet:hover {
  background-color: #f02d2d;
}

fieldset {
  border: 0.2rem solid white;
  background-color: #ebe6e1;
}

.titles-create {
  color: #ffa100;
  font-size: 1.3rem;
  text-align: center;

  @media all and (min-width: 768px) {
    text-align: left;
  }
}

.font-size-input {
  font-size: 1rem;
  font-family: "Patrick Hand", cursive;
}

.squa-c {
  color: #ffa100;
  font-size: 1rem;
  padding-right: 0.2rem;
  margin-left: 0px;

  @media all and (min-width: 768px) {
    font-size: 1.3rem;
  }
}

.send-button {
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: #e29209c5;
  width: 25%;
  margin: 1rem auto;
}

.text-aling-let {
  @media all and (min-width: 768px) {
    text-align: left;
  }
}

.state-box {
  display: flex;
  flex-direction: column;
  color: #c47d0bf6;
  align-items: self-start;

  @media all and (min-width: 768px) {
    flex-direction: row;
  }
}

.text-R-let {
  text-align: center;
}

.input-ad {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1.2rem;
  font-family: "Patrick Hand", cursive;
}

.label-font-weit {
  font-weight: 200;
  font-size: 1rem;
}