* {
	margin: 0;
	padding: 0;
	font-family: "Patrick Hand", cursive;
}

.body-detail {
	background-image: url("../images/cover.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	height: 100vh;
}

.main-detail {
	margin: auto;

	@media all and (min-width: 768px) {
		max-width: 55rem;
	}
}

.title-d {
	padding: 1rem 0 1rem 0;

	font-weight: 400;


	@media all and (min-width: 768px) {
		padding: 3rem 0 1.5rem 0;
		width: 26rem;
	}
}

.author-time {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;


	@media all and (min-width: 768px) {
		flex-direction: row;
	}
}

.list-detail {
	@media all and (min-width: 768px) {
		margin-top: 2.5rem;
	}
}

.box-head {
	display: flex;
	flex-direction: column;
	background-color: var(--all-color);

	@media all and (min-width: 768px) {
		flex-direction: row;
	}
}

.box-title {
	text-align: center;

	@media all and (min-width: 768px) {
		display: flex;
		flex-direction: column;
	}
}


.img-detail {
	height: 15rem;
	margin-top: 1rem;

	@media all and (min-width: 768px) {
		width: 20rem;
		height: 20rem;
		border-radius: 100%;
	}
}

.box-icons-title {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
	margin-top: 1rem;
	margin-bottom: 0.8rem;
	width: 100%;
	margin-left: 0.2rem;

	@media all and (min-width: 768px) {
		justify-content: space-evenly;
		margin-top: 2rem;
		margin-left: 2.5rem;
		width: 20rem;
	}
}

.icon {
	color: var(--icon-colors);
	font-size: 1.3rem;
	padding: 0.6rem;

	@media all and (max-width: 300px) {
		font-size: 1.8rem;
		padding: 0;
	}
}

.icon-h {
	color: var(--icon-colors);
	font-size: 1.3rem;

	@media all and (max-width: 300px) {
		font-size: 1.8rem;
	}
}

.modal-Info {
	height: 30%;
	width: 90%;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: var(--whitesmo);
	border: 1px solid var(--terciary);
	z-index: 1;
	text-align: center;
	margin-top: 3rem;
	font-family: "Patrick Hand", cursive;

	@media all and (min-width: 768px) {
		padding: 20px;
		height: 60%;
		width: 60%;
	}
}

.container-modal {
	background-color: var(--white);
	padding: 20px;
	border: 1px solid var(--border);
	border-radius: 2%;
	width: 80%;
	margin: 2rem auto;

	@media all and (min-width: 768px) {
		width: 50%;
		margin: 4rem auto;
	}

}

.deleteCook {
	padding: 0.3rem;
	background-color: var(--secundary);
	color: var(--white);
	border: none;
	border-radius: 5px;
	cursor: pointer;
	padding: 0.5rem;

}

.deleteCook {
	background-color: var(--secundary);
}

.deleteCook:hover {
	background-color: var(--button-delete);
}

.close-info {
	padding: 0.2rem 0.7rem;
	background-color: var(--buttons-hover);
	background-color: var(--button-color);
	color: var(--white);
	border: none;
	border-radius: 5px;
	cursor: pointer;

}

.close-info:hover {
	background-color: var(--buttons);
}


.box-ingredient-preparation {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: var(--terciary);

	@media all and (min-width: 768px) {
		flex-direction: row;
		justify-content: flex-start;
		align-items: baseline;
		max-width: 100%;
	}
}



.ingredient {
	padding-bottom: 0.3rem;


	@media all and (min-width: 768px) {
		width: 18rem;
	}
}

.list-ol {
	padding: 0.6rem 0.8rem 0 1rem;
	
	@media all and (min-width: 768px) {
		padding: 0 0 0 1rem;
	}
}

.box-preparation {
	
	
	@media all and (min-width: 768px) {
		width: 70%;
		margin-left: 4rem;
		margin-right: 0.5rem;
		text-align: left;

	}
}


.list-d {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0.7rem 0.8rem 0 1rem;
	list-style: none;


	@media all and (min-width: 768px) {
		padding: 0 0 0 1rem;
	}
}

.list-p {
	padding-bottom: 0.7rem;
}

.list-ingredient {
	width: 100%;
	padding-bottom: 0.6rem;

	@media all and (min-width: 768px) {
		width: 20rem;
		padding-bottom: 0.7rem;
	}
}

.icon-check {
	font-size: 0.7rem;
	color: var(--icon-colors);
}

.title-ing-prep {
	margin-bottom: 0;
	color: var(--icon-colors);
	font-size: 1.6rem;
	font-weight: 400;
	padding-top: 1rem;
	text-align: center;

	@media all and (min-width: 768px) {
		padding-top: 1rem;
		padding-bottom: 1.3rem;
		text-align: left;
	}
}

.box-butts {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	background-color: var(--white);
	margin-top: 1rem;

	@media all and (min-width: 768px) {
		padding-left: 0;
	}
}

.button-wit {
	width: 2rem;
	appearance: none;
	border: none;
	background-color: var(--terciary);
	cursor: pointer;
	margin-left: 6rem;

	@media all and (min-width: 200px) and (max-width: 600px) {
		margin-left: 1.6rem;
	}
}

.img-preparation {
	width: 10rem;
	height: 10rem;
	border-radius: 5%;
}


.icon-text {
	font-size: 1rem;
	margin: 0;
	font-weight: bold;
}

.mg-lef {
	margin-left: 0.3rem;
}

.mg-lef-M {
	margin-left: 1rem;

	@media all and (min-width: 768px) {
		margin-left: 4rem;
	}
}

.icon-remision {
	color: var(--grenn-ic);
}

.icon-brote {
	color: var(--ico-b);
}

.ico-font {
	font-size: 1.5rem;
	font-weight: 100;

	@media all and (max-width: 300px) {
		font-size: 1rem;
	}
}

.patrick-hand-regular {
	font-family: "Patrick Hand", cursive;
	font-weight: 400;
	font-style: italic;
}

.icon-dele:hover {
	color: var(--button-delete);
}

.mg-top:hover {
	color: var(--button-delete);
}

.icon-size {
	font-size: 1.2rem;
}

.edit:hover {
	color: var(--primary);
}