@charset "UTF-8";

:root {
	--white: white;
	--primary: #BB72DD;
	--secundary: #BA72DC;
	--primary-v: rgb(170, 16, 175);
	--whitesmo: whitesmoke;
	--text-color: rgb(27, 26, 27);
	--ico-color: rgb(85, 85, 85);
	--input-bacg: #d6d6d4;
	--gr-color: rgb(196, 195, 195);
	--ico-b: #f10909;
	--hover-delete: #f02d2d;
	--ali-color: aliceblue;
	--divider: rgba(138, 6, 247, 0.747);
	--input: rgba(230, 219, 239, 0.43);
	--list-color: #ebdbea;
	--color-ac: rgb(48, 134, 81);
	--gry-color: gray;
	--all-color: #ebe6e1;
	--background-1: rgba(255, 255, 255, 0.877);
	--background-c: #f7f7f7;
	--background-s: rgba(192, 21, 192, 0.774);
	--button-l: rgba(138, 6, 247, 0.747);
	--terciary: #ebe6e1;
	--grenn-ic: rgba(0, 128, 0, 0.397);
	--ico-list: #c47d0bf6;
	--icon-colors: #ffa100;
	--button-color: #e29209c5;
	--button-hover: rgb(255, 128, 0);
	--button-delete: #f10909;
	--buttons: #0AAC04;
	--buttons-hover: rgb(6, 137, 3);
	--border: rgba(167, 18, 147, 0.315);
	--border-l: rgb(211, 167, 233);
}

.w-100 {
	width: 100%;
}

.flex-row {
	display: flex;
	flex-direction: row;
}

.spacing-left1 {
	padding-left: 2rem;
}

.spacing-right1 {
	padding-right: 0.2rem;
}

.padding-t{
	padding-top:0.6rem ;
}
.flex-colunm {
	display: flex;
	flex-direction: column;
}

.flex-c-center {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.display-row-center {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.link-home {
	padding-left: 2rem;
	color: white;
}

.margin {
	margin-top: 1rem;
}

.footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 3rem;
	margin-top: 4rem;
	width: 100%;
	height: 6rem;
}
.by {
	padding-bottom: 1.7rem;
}

.logo-footer {
	margin-top: 1rem;
	width: 7rem;
	height: 7rem;
}

.note {
	width: 80%;
	color: dimgray;
	text-align: center;
	margin-bottom: 1.5rem;

	@media all and (min-width: 768px) {
		width: 100%;
		margin-bottom: 0;
		
	}

}

.button-back {
	margin-bottom: 1rem;
	background: var(--secundary);
	border-radius: 5rem;
	color: var(--white);
	cursor: pointer;
	padding: 0.4rem;
	text-decoration: none;
}

.not-found {
	font-size: 1.5rem;
}