/*Styles for search*/
.hearder-search {
  position: fixed;
  top: 3.3rem;
  z-index: 4;
  width: 100%;
}

.form-search {
  background-color: rgba(192, 21, 192, 0.774);
  border-radius: 30rem;
  padding: 0.1rem;
  position: relative;
  margin: 1rem 0 0.5rem 0;
  z-index: 6;

  @media all and (min-width: 450px) and (max-width: 767px) {
    width: 50%;
    left: 24.5%;
  }

  @media all and (min-width: 768px) {
    width: 30rem;
    left: 31%;
  }
}

.input-search {
  border: none;
  border-radius: 20px;
  outline: none;
  width: 100%;
  box-sizing: border-box;
  padding: 0.3rem 2rem;
}

.icon-delete {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: gray;
  appearance: none;
  border: none;
}

.icon-search {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: gray;
}

/*Styles for saved*/
.nav-list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 15rem;
}

.all-list {
  appearance: none;
  border: none;
  background-color: #ebe6e1;
}

.all-border {
  border-bottom: 1px solid blueviolet;
}

.saved-list {
  appearance: none;
  border: none;
  background-color: #ebe6e1;
}

/*Styles for list*/
.container-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 1rem;
  padding: 0 0.5rem;

  @media all and (min-width: 500px) and (max-width: 767px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 2rem;
  }

  @media all and (min-width: 768px) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 2rem;
    padding: 0px;
  }

  @media all and (min-width: 1220px) {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 2rem;
  }
}

.list-item {
  box-sizing: border-box;
  background-color: #ebdbea;
  width: 100%;
  border-radius: 8px;
  border: 1px solid rgba(118, 14, 167, 0.705);
  margin-bottom: 1rem;

  @media all and (min-width: 4px) and (max-width: 767px) {
    width: 15rem;
    margin: 0 auto;
  }

  @media all and (min-width: 768px) {
    width: 14rem;
    margin: 0;
  }
}

.link-detail {
  text-decoration: none;
  color: rgb(27, 26, 27);
  position: relative;
}

.img-card {
  border-radius: 8px;
  width: 100%;
  object-fit: cover;
  height: 12rem;
  transition: 0.3s ease-in-out;

  @media all and (min-width: 768px) {
    width: 100%;
    height: 14rem;
  }
}

.box-img-tile {
  position: relative;
  text-align: center;
}

.title-items {
  background-color: rgba(255, 255, 255, 0.877);
  padding: 0.5rem 0.3rem 0.5rem 0.3rem;
  font-size: 1rem;
  border-radius: 0.2rem;
  font-weight: bold;
  margin: 0 1rem;
}

.state-like {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem 1rem 0.5rem;
  margin-left: 0.3rem;
}

.user-card {
  margin-top: 1rem;
  margin-left: 0.5rem;
}

.ico-card {
  color: #ab70b9;
  padding-right: 0.2rem;
}

.circle {
  color: #ab70b9;
}

.ico-like {
  color: rgb(85, 85, 85);
  cursor: pointer;
}

.liked {
  color: #a11dc2;
}

.notLiked {
  color: rgb(85, 85, 85);
}