.body-login {
  background-image: url("../images/im-fondo.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  height: 100vh;
}

.link-back {
  color: rgb(215, 224, 231);
  margin-right: 1rem;
}
.go-back {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: rgb(180, 133, 207);
  margin-left: 1rem;
  font-size: 1rem;
  margin-bottom: 3rem;

  @media all and (min-width: 768px) {
    font-size: 1rem;
    margin-bottom: 4rem;
  }
}

.container-form {
  padding: 20px;
  text-align: center;
  margin-bottom: 1rem;
  background-color: #f7f7f7;
  margin-left: 1rem;
  margin-right: 1rem;

  @media all and (min-width: 450px) and (max-width: 767px) {
    padding: 1rem;
    margin: 0 auto;
    width: 18rem;
  }

  @media all and (min-width: 768px) {
    padding: 2rem;
    margin: 0 auto;
    width: 16.5rem;
  }
}

.logo {
  width: 12rem;
  height: 10rem;

  @media all and (min-width: 768px) {
    width: 10rem;
    height: 6rem;
    margin-bottom: 2rem;
  }
}

.form {
  display: flex;
  flex-direction: column;
}
.iput-login {
  width: 100%;
  background: rgba(230, 219, 239, 0.43);
  border-radius: 0.2rem;
  border: none;
  margin-top: 0.3rem;
  height: 2.6rem;
  outline: none;
  padding-left: 1rem;

  @media all and (min-width: 768px) {
    height: 2.2rem;
  }
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-container button {
  margin-top: 1rem;
  width: 80%;
}

.button-login {
  margin-bottom: 1rem;
  background: rgba(138, 6, 247, 0.747);
  border-radius: 5rem;
  border: none;
  height: 2rem;
  color: aliceblue;
  cursor: pointer;
}

.button-login:hover {
  background: rgba(139, 6, 247, 0.973);
}

.create-account {
  text-decoration: none;
  background: rgba(230, 219, 239, 0.43);
  border-radius: 0.2rem;
  font-size: 1rem;
}
.create-account:hover {
  color: rgb(48, 134, 81);
}
.account-l {
  margin-top: 1rem;
  margin-bottom: 3rem;
}

.button-link {
  text-decoration: none;
  color: aliceblue;
}
.label-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 2.5rem;
  background: rgba(230, 219, 239, 0.43);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.349);
  border-radius: 0.2rem;
  margin: 1rem 1rem 1rem 1.5rem;

  @media all and (max-width: 650px) {
    margin: 1rem 0.5rem 1rem 0.5rem;
  }

  @media all and (min-width: 768px) {
    height: 2.2rem;
    margin: 0;
    margin-bottom: 1.5rem;
  }
}

.vertical-line {
  width: 1px;
  height: 100%;
  background-color: rgba(138, 6, 247, 0.747);
}
.icons {
  padding-left: 1rem;
  margin-right: 1rem;
  color: rgba(138, 6, 247, 0.747);
  font-size: 1rem;

  @media all and (min-width: 768px) {
    font-size: 1.2rem;
  }
}
