<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>SvCooks</display-name>
    <servlet-name>SvCooks</servlet-name>
    <servlet-class>controller.SvCooks</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SvCooks</servlet-name>
    <url-pattern>/SvCooks</url-pattern>
  </servlet-mapping>
  <display-name>finalyProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SvCooksDetaill</display-name>
    <servlet-name>SvCooksDetaill</servlet-name>
    <servlet-class>controller.SvCooksDetaill</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SvCooksDetaill</servlet-name>
    <url-pattern>/SvCooksDetaill</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SvUpdate</display-name>
    <servlet-name>SvUpdate</servlet-name>
    <servlet-class>controller.SvUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SvUpdate</servlet-name>
    <url-pattern>/SvUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SVDelete</display-name>
    <servlet-name>SVDelete</servlet-name>
    <servlet-class>controller.SVDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SVDelete</servlet-name>
    <url-pattern>/SVDelete</url-pattern>
  </servlet-mapping>
</web-app>